<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ComicsApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="randomcomicsviewer">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Random
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dilbertcomicsviewer">
                <span class="oi oi-person" aria-hidden="true"></span> Dilbert
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="garfieldcomicsviewer">
                <span class="oi oi-bell" aria-hidden="true"></span> Garfield
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="xkcdcomicsviewer">
                <span class="oi oi-monitor" aria-hidden="true"></span> XKCD
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="calvinandhobbescomicsviewer">
                <span class="oi oi-cloudy" aria-hidden="true"></span> Calvin & Hobbes
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
