@page "/calvinandhobbes"
@using ComicsProvider

@rendermode InteractiveServer

@inject IComicsService Service

<div style="text-align: center;">
    <button type="button" class="btn btn-primary" @onclick="GetPreviousComic">Prev</button>
    <button type="button" class="btn btn-primary" @onclick="GetNextComic">Next</button>
</div>

<div style="text-align: center; padding-top: 20px">
    <SpinLoader IsLoading="_isLoading">
        <LoadingTemplate>
            <div class="col-12" style="background-color: transparent; vertical-align: middle"></div>
            <br />
            <br />
            <Swing Center="true" Size="100px"></Swing>
        </LoadingTemplate>
        <ContentTemplate>
            <picture>
                <img src="@_fileResult" class="img-thumbnail" alt="Comic Loading...">
            </picture>
        </ContentTemplate>
    </SpinLoader>
</div>

@code {    
    
    private bool _isLoading;

    private static string _fileResult = string.Empty;

    private static IList<string>? _imageList;

    private int _currentIndex;

    protected override void OnInitialized()
    {
        if (string.IsNullOrEmpty(_fileResult))
        {
            _fileResult = "images/calvinandhobbes.jpg";
        }

        if (_imageList == null || _imageList.Count == 0)
        {
            _imageList = new List<string>();
        }

        if (_imageList.Count == 0)
        {
            _imageList.Add("images/calvinandhobbes.jpg");
        }        
    }

    private async Task GetCalvinAndHobbesComic()
    {
        _isLoading = true;
        _fileResult = await Service.GetCalvinAndHobbesComics();
        _imageList?.Add(_fileResult);
        _isLoading = false;
    }

    private void GetPreviousComic()
    {
        _currentIndex = _imageList.IndexOf(_fileResult);

        if (_currentIndex > 0)
        {
            _fileResult = _imageList[_currentIndex - 1];
        }
    }

    private async Task GetNextComic()
    {
        _currentIndex = _imageList.IndexOf(_fileResult);

        int listCount = _imageList.Count;

        if (_currentIndex == listCount - 1)
        {
            await GetCalvinAndHobbesComic();
        }

        if (_currentIndex < listCount - 1)
        {
            _fileResult = _imageList[_currentIndex + 1];
        }
    }
}