<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ComicsApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="garfield">
                <span class="bi oi oi-bell" aria-hidden="true"></span> Garfield
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
                    <NavLink class="nav-link" href="xkcd">
                        <span class="bi oi oi-monitor" aria-hidden="true"></span> XKCD
                    </NavLink>
                </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calvinandhobbes">
                <span class="bi oi oi-cloudy" aria-hidden="true"></span> CalvinAndHobbes
            </NavLink>
        </div>
    </nav>
</div>