@page "/dilbertcomicsviewer"
@inject HttpClient Http

<h5>Click to see Dilbert comic strip</h5>

<br />

<div>
    <RadzenButton Click="@GetDilbertComic" Text="Get Comic Strip" />
</div>

<br />

<picture>
    <img src="@_fileResult" class="img-thumbnail" alt="Comic Loading...">
</picture>


@code {

    private string _fileResult = "images/dilbert.png";

    protected async Task GetDilbertComic()
    {
        _fileResult = await Http.GetStringAsync("Comics/dilbert");
    }
}
