@page "/garfieldcomicsviewer"
@inject HttpClient Http

<h5>Click to see Garfield comic strip</h5>

<br />

<div>
    <RadzenButton Click="@GetGarfieldComic" Text="Get Comic Strip"/>
</div>

<br />

<RadzenCard>
    <div class="embed-responsive">
        <picture>
            <img src="@_fileResult" class="img-fluid" alt="Comic Loading...">
        </picture>
    </div>
</RadzenCard>


@code {

    private string _fileResult = "images/garfield.png";

    protected async Task GetGarfieldComic()
    {
        _fileResult = await Http.GetStringAsync("Comics/garfield");
    }
}
