@page "/randomcomicsviewer"
@inject HttpClient Http

<h5>Click to see random comic strip</h5>

<br />

<div>
    <RadzenButton Click="@GetRandomComic" Text="Get Comic Strip" />
</div>

<br />

<picture>
    <img src="@_fileResult" class="img-thumbnail" alt="Comic Loading...">
</picture>


@code {

    private string _fileResult = "images/comics.jpg";

    protected async Task GetRandomComic()
    {
        _fileResult = await Http.GetStringAsync("Comics/random");
    }
}
