@page "/garfieldcomicsviewer"
@using Radzen
@inject HttpClient Http

<h5>Click to see Garfield comic strip</h5>

<br />

<div class="container">
    <div style="text-align: center;">
        <RadzenButton Click="@GetPreviousComic" ButtonStyle="ButtonStyle.Secondary" Icon="chevron_left" Text="  " />
        <RadzenButton Click="@GetNextComic" ButtonStyle="ButtonStyle.Secondary" Icon="chevron_right" Text="  " />
    </div>
    <br />
    <div style="text-align: center;">
        <SpinLoader IsLoading="_isLoading">
            <LoadingTemplate>
                <div class="col-12" style="background-color: transparent; vertical-align: middle"></div>
                <br />
                <br />
                <Swing Center="true" Size="100px"></Swing>
            </LoadingTemplate>
            <ContentTemplate>
                <picture>
                    <img src="@_fileResult" class="img-thumbnail" alt="Comic Loading...">
                </picture>
            </ContentTemplate>
        </SpinLoader>
    </div>
</div>

@code {

    private bool _isLoading;

    private string _fileResult = "images/garfield.png";

    private IList<string>? _imageList;

    private int _currentIndex;

    protected override void OnInitialized()
    {
        _imageList = new List<string>
    {
            "images/garfield.png"
        };
    }

    protected async Task GetGarfieldComic()
    {
        _isLoading = true;
        _fileResult = await Http.GetStringAsync("Comics/garfield");
        _imageList.Add(_fileResult);
        _isLoading = false;
    }

    private void GetPreviousComic()
    {
        _currentIndex = _imageList.IndexOf(_fileResult);

        if (_currentIndex > 0)
        {
            _fileResult = _imageList[_currentIndex - 1];
        }
    }

    private async Task GetNextComic()
    {
        _currentIndex = _imageList.IndexOf(_fileResult);

        int listCount = _imageList.Count;

        if (_currentIndex == listCount - 1)
        {
            await this.GetGarfieldComic();
        }

        if (_currentIndex < listCount - 1)
        {
            _fileResult = _imageList[_currentIndex + 1];
        }
    }
}
