@page "/"


<RadzenCard>
    <h2>Welcome to Comics App</h2>

    <p>With this small installable app you can browse random comics from sources like Garfield, XKCD, Calvin and Hobbes</p>

    <p>This progressive web app is implemented in pure .Net Core Blazor (ASP Core Hosted Model)</p>
</RadzenCard>