@page "/xkcdcomicsviewer"
@using Radzen
@inject HttpClient Http

<h5>Click to see XKCD comic strip</h5>

<br />

<div class="container">
    <div style="text-align: center;">
        <RadzenButton Click="@GetPreviousComic" ButtonStyle="ButtonStyle.Secondary" Icon="chevron_left" Text="  " />
        <RadzenButton Click="@GetNextComic" ButtonStyle="ButtonStyle.Secondary" Icon="chevron_right" Text="  " />
    </div>
    <br />
    <div style="text-align: center;">
        <SpinLoader IsLoading="_isLoading">
            <LoadingTemplate>
                <div class="col-12" style="background-color: transparent; vertical-align: middle"></div>
                <br />
                <br />
                <Swing Center="true" Size="100px"></Swing>
            </LoadingTemplate>
            <ContentTemplate>
                <picture>
                    <img src="@_fileResult" class="img-thumbnail" alt="Comic Loading...">
                </picture>
            </ContentTemplate>
        </SpinLoader>
    </div>
</div>

@code {

    private bool _isLoading;

    private static string _fileResult = string.Empty;

    private readonly IList<string>? _imageList = new List<string>();

    private int _currentIndex;

    protected override void OnInitialized()
    {
        if (string.IsNullOrEmpty(_fileResult))
        {
            _fileResult = "images/xkcd.jpg";
        }

        if (_imageList.Count == 0)
        {
            _imageList.Add("images/xkcd.jpg");
        }
    }

    protected async Task GetXkcdComic()
    {
        _isLoading = true;
        _fileResult = await Http.GetStringAsync("Comics/xkcd");
        _imageList?.Add(_fileResult);
        _isLoading = false;
    }

    private void GetPreviousComic()
    {
        _currentIndex = _imageList.IndexOf(_fileResult);

        if (_currentIndex > 0)
        {
            _fileResult = _imageList[_currentIndex - 1];
        }
    }

    private async Task GetNextComic()
    {
        _currentIndex = _imageList.IndexOf(_fileResult);

        int listCount = _imageList.Count;

        if (_currentIndex == listCount - 1)
        {
            await this.GetXkcdComic();
        }

        if (_currentIndex < listCount - 1)
        {
            _fileResult = _imageList[_currentIndex + 1];
        }
    }
}
